{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 class="text-center my-4">Nos services</h1>
            
        </div>
        <div class="col-4"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 class="text-center my-4">Témoignages de nos clients</h2>
            <img src="" class="rounded float-start">
            <h2 class="text-center my-4">Nous laisser un avis</h2>
            
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}
