@import "custom";
@import "~bootstrap/scss/bootstrap";


nav {
    background-color: #D92332;
    height: 100px;
}

img {
    width: 150px;
    height: 80px;
}

footer {
    background-color: #D92332;
    bottom: 0;
    width:100%;
}

#mecanics {
    position: relative;
    width: 300px;
    height: 200px;
}