@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Rajdhani', sans-serif;
}

nav {
    background-color: $primary;
    height: 100px;
}

img {
    width: 150px;
    height: 80px;
}

footer {
    background-color: $primary;
    bottom: 0;
    width:100%;
}

#mecanics {
    position: relative;
    width: 300px;
    height: 200px;
}

h5 {
    text-decoration: underline;
}