@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Rajdhani', sans-serif;
}

nav {
    background-color: $success;
    height: 100px;
}

img {
    width: 150px;
    height: 80px;
}

footer {
    background-color: $success;
    bottom: 0;
    width:100%;
}

#mecanics {
    position: relative;
    width: 300px;
    height: 200px;
}

h4 {
    text-decoration: underline;
}

.bold-link {
    font-weight: bold;
}
.stars {
    color: gold;
}

@media (max-width: 991px) {
    .navbar-collapse {
        margin-top: 60px;
    }
}

/* Event */
.card {
    transition: box-shadow 0.3s ease-in-out;
}

.text-bigger {
    transform: scale(1.10);
}

.event-services {
    transition: transform 0.2s ease-in-out;
}

.event-services:hover {
    transform: translateX(-7px); /* Décalage de 5 pixels vers la droite */
}
