{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container-sm my-5">
    <div class="card text-center">
        <div class="card-header">
            <strong>Succès</strong>
        </div>
        <div class="card-body">
            <h5 class="card-title">Votre demande a été envoyé avec succès</h5>
            <p class="card-text">
            Votre demande va être traité dans les plus bref délaie<br>
            Merci de votre confiance à bientôt chef V. PARROT
            </p>
        </div>
        <div class="card-footer text-body-secondary">
            <a href="{{ path('app_home')}}" class="btn btn-primary my-2">Retour au menu principale</a>
            
        </div>
    </div>
</div>

{% endblock %}