<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Garage V. PARROT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap" rel="stylesheet">
        
        {% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <nav>
            {% include "menu/nav.html.twig" %}
        </nav>

        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	{% block javascripts %}
	    {{ encore_entry_script_tags('app') }}
	{% endblock %}

    </body>
</html>
